[Unit]
Description=keyswap for Terminal and GUI
After=syslog.target

[Service]
Type=simple
User={username}
Group={username}
Environment=DISPLAY=:0
Restart=always
WorkingDirectory=/home/{username}/.config/
ExecStart=

[Install]
WantedBy=multi-user.target
