[Unit]
Description=keyswap for Terminal and GUI
PartOf=graphical-session.target

[Service]
Type=simple
#User={username}
#Group={username}
Environment=DISPLAY=:0
Restart=always
RestartSec=1
WorkingDirectory=/home/{username}/.config/kinto
ExecStart=

[Install]
WantedBy=default.target
