[Desktop Entry]
Name=Kinto_xkey
GenericName=Kinto_xkey
Comment=Make Linux Type Like it's a Mac
Exec=/usr/bin/xhost +SI:localuser:root
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true